<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NPOI" version="2.4.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="z.Lucene.Net" version="3.0.3.4" targetFramework="net45" />
  <package id="z.PanGu" version="2.4.1.5" targetFramework="net45" />
  <package id="z.PanGu.Lucene.Analyzer" version="2.4.1.8" targetFramework="net45" />
</packages>