<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="NPOI" version="2.4.0" targetFramework="net45" />
  <package id="PanGu" version="2.3.1.0" targetFramework="net45" />
  <package id="PanGu.Lucene.Analyzer" version="0.0.2" targetFramework="net45" />
  <package id="PanGu.Segment" version="0.0.3" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="z.Lucene.Net" version="3.0.3.4" targetFramework="net45" />
  <package id="z.PanGu" version="2.4.1.5" targetFramework="net45" />
  <package id="z.PanGu.Lucene.Analyzer" version="2.4.1.8" targetFramework="net45" />
</packages>